# Default ignored files
/workspace.xml

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea

# Composer files
/vendor

#nginx logs files
/logs/access.log
/logs/error.log
/logs/php_log.log
